$prefix: 'fst';
$fst-mmenu-bg-color: #fff !default;
$fst-mmenu-animation-duration: 0.3s !default;
$fst-mmenu-animation-function: 'ease-in-out' !default;
$fst-mmenu-overlay-color: rgba(0, 0, 0, 0.3) !default;
$fst-first-level-font-size: 16px !default;
$fst-nth-level-font-size: 14px !default;